.btn-outline{
    height: 62px;
    padding: 12px 20px;
    border: 1px solid var(--accent);
    color: var(--white);
    border-radius: var(--border-radius);
    background-color: var(--dark-bg);

    display: flex;
    column-gap: 10px;
    align-items: center;
}

.btn-outline:hover {
    background-color: var(--accent);
    color: var(--dark-bg);
}

.btn-outline:active {
    position: relative;
    top: 2px;
}